@use "responsive";
@use "variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--ff-body);
  font-size: 0.9rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--ff-headings);
  }

  .container {
    /* max-width: 1440px; */

    /* NAVBAR */
    nav {
      display: flex;
      padding: 1.5rem;
      justify-content: space-between;
      align-items: center;

      .logo {
        img {
          width: 6.2rem;
        }
      }

      .try-btn {
        button {
          font-family: var(--ff-body);
          font-weight: var(--fw-semibold);
          font-size: 0.8rem;
          border: 1px solid var(--primary-pink);
          border-radius: 1rem;
          padding: 0.3rem 1rem;
          color: var(--primary-pink);
          background-color: transparent;
          cursor: pointer;
        }
      }
    }

    /* SECTION HERO */
    .hero {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;
      padding: 3rem 2rem;

      h1 {
        font-family: var(--ff-headings);
        padding: 0 0.5rem;
      }

      .get-started-btn {
        button {
          color: var(--neutral-very-pale-blue);
          background-color: var(--primary-pink);
          font-weight: var(--fw-semibold);
          padding: 0.9rem 2.5rem;
          margin: 1.5rem 0 5rem;
          border: none;
          border-radius: 2rem;
          box-shadow: 0px 2px 10px #aaaaaa;
          cursor: pointer;
        }
      }

      .responsive-design-img {
        img {
          width: 100%;
        }
      }
    }

    /* SECTION NUMBERS */
    .numbers {
      display: flex;
      flex-direction: column;
      padding: 4rem 0 2rem;
      align-items: center;
      gap: 7rem;

      .numbers-txt {
        text-align: center;

        h1 {
          font-family: var(--ff-body);
          font-weight: var(--fw-bold);
          font-size: 4rem;
        }

        p {
          color: #808080;

          .content-1::after {
            @media (max-width: 375px) {
              content: "\a";
              white-space: pre;
            }
          }
        }
      }

      .communities {
        .communities-icon {
          img {
            width: 2rem;
          }
        }
      }

      .messages {
        .messages-icon {
          img {
            width: 1.5rem;
          }
        }
      }
    }

    /* SECTION STRONG POINTS */
    .fantasy-top_mobile {
      display: flex;
    }

    .strong-points {
      display: flex;
      flex-direction: column;
      text-align: center;

      .strong-point {
        padding: 0 2rem;

        .strong-point_img {
          margin-bottom: 5rem;

          img {
            width: 80%;
          }
        }

        .strong-point_txt {
          h1 {
            margin-bottom: 1rem;
          }
        }
      }

      .strong-point-1 {
        padding: 5rem 2rem 3rem;
        background-color: #f6fbff;
      }

      .strong-point-2 {
        margin: 7rem 0 5rem;
      }

      .strong-point-3 {
        padding-bottom: 6rem;
        background-color: #f6fbff;
      }
    }

    .fantasy-bottom_mobile {
      display: flex;
    }

    /* Desktop fantasies remove */
    .fantasy-top_desktop {
      display: none;
    }

    .fantasy-bottom_desktop {
      display: none;
    }

    /* SECTION BUILD COMMUNITY */
    .build-community {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 4rem 1rem 8rem;
      text-align: center;
      gap: 1rem;

      h1 {
        font-size: 1.5rem;
      }

      .get-started_btn {
        color: var(--neutral-very-pale-blue);
        background-color: var(--primary-pink);
        font-weight: var(--fw-semibold);
        padding: 0.9rem 2.5rem;
        margin: 1.5rem 0 5rem;
        border: none;
        border-radius: 2rem;
        box-shadow: 0px 2px 10px #aaaaaa;
        cursor: pointer;
      }
    }

    /* FOOTER */
    .fantasy-footer_desktop {
      display: none;
    }

    .fantasy-footer_mobile {
      display: flex;
    }

    footer {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      color: var(--neutral-very-pale-blue);
      background-color: var(--neutral-very-dark-cyan);
      padding: 5rem 1.8rem 3rem;

      .newsletter {
        h1 {
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: var(--fw-bold);
          font-family: var(--ff-body);
        }

        p {
          margin: 1rem 0 2rem 0;
          line-height: 1.5;
        }

        form {
          display: flex;
          flex-direction: column;
          /* gap: 1rem; */

          .email {
            display: flex;
            flex-direction: column;

            input {
              padding: 1rem 0 1rem 1rem;
              border-radius: 0.5rem;
              font-size: 0.9rem;

              &:focus {
                outline: none;
              }
            }

            #error {
              display: none;
              color: var(--primary-light-red);
              font-size: 0.7rem;
              padding-top: 0.5rem;
            }
          }

          button {
            color: var(--neutral-very-pale-blue);
            background-color: var(--primary-pink);
            margin-top: 1rem;
            border: none;
            border-radius: 0.3rem;
            padding: 1rem 2.5rem;
            align-self: end;
            font-size: 0.9rem;
            font-weight: var(--fw-semibold);
            letter-spacing: 0.05rem;
            cursor: pointer;
          }
        }
      }

      .contacts-socials {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2.5rem;

        .logo {
          display: flex;
          flex-direction: column;
          transform: scale(80%);
          transform-origin: left;
        }

        .txt {
          margin-top: 1rem;
          line-height: 1.5;
        }

        .contacts {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .phone-num,
          .email {
            display: flex;
            align-items: center;

            img {
              width: 1.2rem;
              height: 100%;
            }

            p {
              margin-left: 1rem;
            }
          }

          .phone-num {
            margin-top: 3rem;
          }
        }

        .social-media_desktop {
          display: none;
        }
      }

      .social-media_mobile {
        i {
          cursor: pointer;
          font-size: 1.8rem;
          letter-spacing: 1rem;
        }
      }
    }
  }
  @include responsive.large;
  @include responsive.xlarge;
}
